<div ng-controller="ListController">
    <h2>{{list.title}}</h2>
    <p>
        {{list.description}}
    </p>
    <ul class="list-group">
        <li
            class="list-group-item"
            ng-class="(item.done) ? 'item-done' : ''"
            ng-repeat="item in list.items">
            {{item.text}}

            <span class="pull-right item-control-group">
                <input
                    type="checkbox"
                    class="item-done"
                    ng-model="item.done"
                    ng-change="markItemDone(this)">
                <span class="glyphicon glyphicon-trash"></span>
            </span>

        </li>
    </ul>
</div>