<div ng-controller="ListController">
    <h2>{{list.title}}</h2>
    <p>
        {{list.description}}
    </p>
    <ul class="list-group">
        <li
            class="list-group-item"
            ng-class="(item.done) ? 'item-done' : ''"
            ng-repeat="item in list.items">
            {{item.text}}

            <span class="pull-right item-control-group">
                <input
                    type="checkbox"
                    class="item-done"
                    ng-model="item.done"
                    ng-change="markItemDone(this)">
                <a ng-click="deleteItem(this, $index)">
                    <span class="glyphicon glyphicon-trash item-delete"></span>
                </a>
            </span>

        </li>
    </ul>

    <form action="" class="input-group item-create-group">
        <input
            ng-model="item_create.text"
            type="text"
            class="form-control"
            placeholder="Add a new item...">
        <span class="input-group-btn">
            <button
                ng-click="createItem()"
                class="btn btn-default"
                type="button">
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>
        </span>
    </form>

</div>