body {
    color: #505050;
}

#swiftlistNav {
    background: #129793;
    border-radius: 0;
    border: #129793;
    color: #fff;
}

#swiftlistNav a {
    color: #fff;
}

#swiftlistNav .navbar-nav > .active > a,
#swiftlistNav .navbar-nav > .active > a:focus,
#swiftlistNav .navbar-nav > .active > a:hover {
    background-color: #9BD7D5;
}

#swiftlistLogo {
    background: url(../img/swiftlist-logo.png) no-repeat top center / 70%;
    width: 150px;
    height: 50px;
}


/* 
* List Item
 */

.list-item-block {
    padding: 1.25rem;
}
.list-item {
    position: relative;
    display: block;
    margin-bottom: .75rem;
    background-color: #fff;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125);
}
.list-item-title {
    margin-top: .25em;
    margin-bottom: .25em;
}
.item-done {
    text-decoration: line-through;
    background-color: #9BD7D5;
}